.aboutpage {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
}

.aboutpage-images {
    align-items: center;
    display: flex;
    flex: 1;
    height: 30%;
    justify-content: center;
}

.aboutpage-image {
    border-radius: 50%;
}

.aboutpage-description {
    align-items: center;
    border-top: 2px solid white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    margin: 50px;
}