.aboutpage {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.aboutpage-images {
    flex: 0.25;
}

.aboutpage-image {
    border-radius: 50%;
}

.aboutpage-description {
    border-top: 2px solid white;
    flex: 0.25;
    margin: 0px 30px 0px 30px;
}