.homepage-introduction {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
}

.homepage-introduction-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.homepage-introduction-header {
  background-color: rgba(56, 57, 59, 0.75);
  border-radius: 50px;
  opacity: 0.9;
  position: absolute;
}

.homepage-introduction-header-spacer {
  margin: 20px;
}

.homepage-services {
  align-content: center;
  display: flex;
  height: 45vh;
  justify-content: space-between;
}

.homepage-services-header {
  align-content: center;
  background-color: rgba(128, 0, 32, 1);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 30%;
}

.homepage-services-header-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.homepage-services-types {
  background-color: #38393b;
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  width: 70%;
}

.homepage-services-types-container {
  align-items: center;
  display: flex;
  height: 45vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.homepage-services-types-image {
  height: inherit;
  object-fit: fill;
  opacity: 0.25;
  width: inherit;
}

.homepage-services-types-text {
  position: absolute;
  transition: 0.75s ease;
}

.homepage-services-types-container:hover .homepage-services-types-text {
  opacity: 0;
  transition: 0.25s;
}

.homepage-services-types-container:hover .homepage-services-types-image {
  opacity: 1;
  transition: 0.5s;
}

.homepage-featuredproject {
  align-items: center;
  display: flex;
  justify-content: center;
}
