.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  padding: 30px;
  text-decoration: none;
}

.link:hover {
  color: white;
  background-color: #cd280e;
  transition: 0.5s;
}

.logoImg {
  width: 300px;
  height: 100px;
  padding: 10px;
}
