annotated-types==0.6.0
arrow==1.3.0
attrs==23.2.0
aws-sam-cli==1.113.0
aws-sam-translator==1.86.0
aws_lambda_builders==1.47.0
awscli==1.32.66
binaryornot==0.4.4
blinker==1.7.0
boto3==1.34.56
boto3-stubs==1.34.61
botocore==1.34.66
botocore-stubs==1.34.56
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cfn-lint==0.86.0
chardet==5.2.0
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
colorama==0.4.4
cookiecutter==2.6.0
cryptography==42.0.5
dateparser==1.2.0
docker==7.0.0
docutils==0.16
emailmessage==0.2.1
Flask==3.0.2
Flask-WTF==1.2.1
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-recaptcha-enterprise==1.19.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.3
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
junit-xml==1.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
mypy-boto3-apigateway==1.34.56
mypy-boto3-cloudformation==1.34.55
mypy-boto3-ecr==1.34.0
mypy-boto3-iam==1.34.8
mypy-boto3-kinesis==1.34.0
mypy-boto3-lambda==1.34.46
mypy-boto3-s3==1.34.14
mypy-boto3-schemas==1.34.0
mypy-boto3-secretsmanager==1.34.43
mypy-boto3-signer==1.34.0
mypy-boto3-sqs==1.34.0
mypy-boto3-stepfunctions==1.34.0
mypy-boto3-sts==1.34.0
mypy-boto3-xray==1.34.0
networkx==3.2.1
npm==0.1.1
optional-django==0.1.0
packaging==23.2
pbr==6.0.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.1
pywin32==306
PyYAML==6.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
sarif-om==1.0.4
setuptools==69.1.1
six==1.16.0
sympy==1.12
text-unidecode==1.3
tomlkit==0.12.4
types-awscrt==0.20.5
types-python-dateutil==2.8.19.20240106
types-s3transfer==0.10.0
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.0.7
watchdog==4.0.0
Werkzeug==3.0.1
wheel==0.42.0
WTForms==3.1.2
