{% extends "layout.html" %} {% block title %} Contact Us {% endblock %} {% block
main %}
<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<div class="contactintrocontainer">
  <p id="contactintro">Contact Next Level Builders, LLC</p>
  <p id="advise">
    Please fill out the contact form below, click send, and we will get back
    with you shortly
  </p>
</div>
<div class="contactformcontainer">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li class="error">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <form action="contact" method="POST">
    <label>First Name</label>
    <input
      autocomplete="off"
      id="firstname"
      name="firstname"
      placeholder=""
      type="text"
      required
    />
    <label>Last Name</label>
    <input
      autocomplete="off"
      id="lastname"
      name="lastname"
      placeholder=""
      type="text"
      required
    />
    <label>Email</label>
    <input
      autocomplete="off"
      id="email"
      name="email"
      placeholder=""
      type="text"
      required
    />
    <label>Phone Number</label>
    <input
      autocomplete="off"
      id="phonenumber"
      name="phonenumber"
      placeholder=""
      type="text"
      required
    />
    <label>Subject</label>
    <input
      autocomplete="off"
      id="subject"
      name="subject"
      placeholder="Commercial Build For..."
      type="text"
      required
    />
    <label>Body</label>
    <textarea
      autocomplete="off"
      id="body"
      name="body"
      placeholder="Hello! I am reaching out to..."
      required
    ></textarea>
    <div
      class="g-recaptcha"
      data-sitekey="6LdD2qYpAAAAAL_n_D6r2cqqyuMni1IKbObe_yxA"
      data-action="contact"
      data-size="compact"
    ></div>
    <div class="buttoncontainer">
      <button id="submitcontactform" type="submit">Send</button>
    </div>
  </form>
</div>
<script>
  document
    .getElementById("contact-form")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the form from submitting normally

      // Execute reCAPTCHA verification
      grecaptcha.ready(function () {
        grecaptcha
          .execute("6LdD2qYpAAAAAL_n_D6r2cqqyuMni1IKbObe_yxA", {
            action: "contact",
          })
          .then(function (token) {
            // Add the token to the form data
            var formData = new FormData(
              document.getElementById("contact-form")
            );
            formData.append("recaptcha_token", token); // Add the reCAPTCHA token to form data

            // Submit the form with reCAPTCHA token
            fetch("/contact", {
              method: "POST",
              body: formData,
            })
              .then((response) => {
                // Handle the response (e.g., display success message, redirect)
                console.log("Form submitted successfully:", response);
              })
              .catch((error) => {
                // Handle any errors
                console.error("Error submitting form:", error);
              });
          });
      });
    });
</script>
{% endblock %}
