<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="static/styles.css" rel="stylesheet" />
    <title>Next Level Builders • {% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <link rel="icon" sizes="192x192" href="/path/to/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/path/to/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/path/to/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/path/to/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/path/to/favicon-32x32.png">
    <link rel="manifest" href="/path/to/site.webmanifest">
    
  </head>
  <body>
    <div class="navbar">
      <div class="logoandname">
        <img
          class="logo"
          src="{{ url_for('static', filename='NL_Horizontal_RGB (1).png') }}"
        />
      </div>
      <div class="links">
          <a class="navbarlink" href="{{ url_for('index') }}"> Home </a>
          <a class="navbarlink" href="{{ url_for('about') }}"> About </a>
          <a class="navbarlink" href="{{ url_for('contact') }}"> Contact Us </a>
        </div>
      </div>
    </div>
    <main>{% block main %}{% endblock %}</main>
    <p class="footer">
      Next Level Builders, LLC © | Founded in February, 2023.
    </p>
  </body>
</html>
