<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="static/styles.css" rel="stylesheet" />
    <title>Next Level Builders • {% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="logoandname">
        <img
          class="logo"
          src="{{ url_for('static', filename='logofinal.png') }}"
        />
        <p class="businessname">Next Level Builders, LLC</p>
      </div>
      <div class="links">
          <a class="navbarlink" href="{{ url_for('index') }}"> Home </a>
          <a class="navbarlink" href="{{ url_for('about') }}"> About </a>
          <a class="navbarlink" href="{{ url_for('contact') }}"> Contact Us </a>
        </div>
      </div>
    </div>
    <main>{% block main %}{% endblock %}</main>
    <p class="footer">
      Next Level Builders, LLC © | Founded in February, 2023.
    </p>
  </body>
</html>
